extends layout

block content
  section.home--page
    p Hello. My name is Allison Palum. I am a front end engineer in Brooklyn, NY. I currently work at #[a(href="https://www.songtrust.com/" target="_blank") Songtrust]. My teammates and I build applications that allow songwriters to collect their global publishing royalties. //
    p Before this, I was working at #[a(href="https://www.blenderbox.com/" target="_blank") Blenderbox], a Brooklyn based creative agency. //
    p I graduated with my Bachelors in Computer Science from the University at Buffalo in December 2016. //
    p When I'm not at my computer, you can find me listening to / playing music, going to concerts, riding my bike, running, sitting at a potters wheel or digging into one of the many books I'm in the middle of. // 
    p I like meeting people and making things. Reach out if you like the same! //