doctype html
html
  head
    title= title ? title + ' | Allison Palum' : 'Allison Palum'
    link(rel='stylesheet', href='/stylesheets/styles.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap", rel="stylesheet")
  body
    nav.navbar
      ul.nav-list.left
        li #[a(href="/") allison palum]
      ul.nav-list.right
        li #[a(href="/photos") photos]
        li #[a(href="/what-im-listening-to") what im listening to]
        li #[a(href="/resume") resume]
    block content
