extends layout

block content
    section.resume--page
        h1= title
        p Front End Egineer, allisoncpalum@gmail.com
        section.resume--experience
            h3 Experience
            article.experience--songtrust
                h5 Songtrust, New York, NY - #[i Software Engineer]
                span.time-period April 2018 - PRESENT
                p.description Applying the ReactJS framework accompanied with Redux and Django REST to create applications that help songwriters collect global publishing royalties along with building new software to replace out of date music industry platforms
            article.experience--blenderbox
                h5 Blenderbox, Brooklyn, NY - #[i Web Devleoper]
                span.time-period January 2019 - April 2018, 1 year 4 months
                p.description Applied the Django and Drupal frameworks along with jQuery and SASS to build CMV frontend and backend web applications
            article.experience--university-at-buffalo
                h5 University at Buffalo, Buffalo, NY - #[i Computer Science and Eningeering Teachers Assistant]
                span.time-period September 2014 - December 2016, 2 years 4 months
                p.description Taught an array of courses in the undergraduate computer science and engineering department which required holding review sessions, holding office hours and teaching weekly lessons CSE 113: Intro to Programming, CSE 241: Digital Systems, CSE 321: Real-Time and Embedded Operating Systems
            article.experience--brand-networks
                h5 Brand Networks, Rochester, NY - #[i Student Software Engineer]
                span.time-period May 2015 - August 2015, 4 months
            article.experience--vnomics
                h5 Vnomics, Rochester, NY - #[i Customer Care Intern]
                span.time-period June 2014 - August 2014, 3 months
        section.resume--education
            h3 Education
            article.education--buffalo
                h5 Univeristy at Buffalo - #[i Computer Science]
                span.time-period August 2013 - December 2016, GPA: 3.7
                p.description Graduated from the Honors College at UB  with a Bachelors in Computer Science, a Certificate in Data Intensive Computing and a minor in Environmental Design
        section.resume--langauges
            h3 Languages
            ul.languges--list
                li Javascript
                li HTML
                li CSS/SASS/LESS
                li Python
                li SQL
        section.resume--frameworks-libraries
            h3 Frameworks & Libraries
            ul.frameworks-libraries--list
                li ReactJs
                li Redux
                li jQuery
                li AngularJS
                li NodeJS
                li Django
        section.resume--tools-software
            h3 Tools & Software
            ul.tools-software--list
                li BEM
                li Responsive web development
                li PostgreSQL
                li Visual Studio Code
                li AWS
                li bash/zsh
                li Atlassian
