.container {
  max-width: 100%;
  margin: 0 auto;
  display: flex; }

.col-1 {
  flex-basis: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%; }

.col-3 {
  flex-basis: 25%; }

.col-4 {
  flex-basis: 33.33333%; }

.col-5 {
  flex-basis: 41.66667%; }

.col-6 {
  flex-basis: 50%; }

.col-7 {
  flex-basis: 58.33333%; }

.col-8 {
  flex-basis: 66.66667%; }

.col-9 {
  flex-basis: 75%; }

.col-10 {
  flex-basis: 83.33333%; }

.col-11 {
  flex-basis: 91.66667%; }

.col-12 {
  flex-basis: 100%; }

.navbar {
  height: 48px;
  width: 100%; }
  .navbar .nav-list {
    padding: 0;
    margin: 0;
    display: inline-block; }
    .navbar .nav-list li {
      display: inline-block;
      list-style-type: none; }
      .navbar .nav-list li a {
        border-bottom: none; }
    .navbar .nav-list.left {
      float: left; }
      .navbar .nav-list.left li a {
        font-size: 24px; }
    .navbar .nav-list.right {
      float: right; }
      .navbar .nav-list.right li {
        margin-left: 24px;
        border-bottom: 1px solid #2B2D2F;
        padding-bottom: 8px; }
        .navbar .nav-list.right li:first-of-type {
          margin-left: 0; }

body {
  padding: 24px;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #2B2D2F; }
  body [class*=--page] {
    margin: 96px 0; }

a {
  color: #2B2D2F;
  text-decoration: none;
  border-bottom: 1px solid #2B2D2F; }
  a:hover {
    color: #D3D3D3; }
