@import "variables.scss";
@import "columns.scss";
@import "nav.scss";

body {
    padding: 24px;
    font-family: 'Roboto', sans-serif;
    background-color: $col-white;
    color: $col-text;

    [class*=--page] {
        margin: 96px 0;
    }
}

a {
    color: $col-text;
}